
body{
  font-family: 'Red Hat Display';
  font-style: normal;
  font-size: 20px;
  color: #555555;
  height: 100%;
  width: 100%;
  line-height: 1;
 }
a{
  text-decoration: none;
  color: black;
 }
.wrapper{
/*padding-top: 70px;*/
overflow: hidden;
display: flex;
flex-direction: column;
min-height: 100%;
}
.main{
  /*flex: 1 1 auto;*/
}
[class*="_container"]{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}
/*pc*/
@media(max-width:1440px){
  [class*="_container"]{
    max-width: 970px;
  }
}
/*tablet*/
@media(max-width:991.98px){
  [class*="_container"]{
    max-width: 750px;
  }
}
/*Mobile*/
@media(max-width:767.98px){
  [class*="_container"]{
    max-width: none;
  }
}
.header {
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  z-index: 50;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  min-height: 70px;
  background: #F9F6F5;
}
.header_logo {
font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 125%;
text-decoration-line: underline;
color: #222222;
}
.header_menu {  
}
.menu {  
}
.menu_list {
  display: flex;
  /*gap:40px;*/
 }
.menu_item {
  margin-right: 40px;
  }
  @media (max-width: 991.98px) {
    .header_container {
      min-height: 80px;
    }
    .menu_item {
      margin-right: 30px;
      }
      }
.menu_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #222222;
  letter-spacing: 1px; /*определяет межбуквенное расстояние в тексте*/
  }
  .menu_item:last-child{
    margin-right: 0px;
    }
.header_action {
}
.button_header{
  border: none;
  background-color: transparent;
}
.button_header img {
  width: 24px;
  height: 24px;
}
/*=======Home=======================================================================================*/
.Home {
  margin: 70px 0px 0px 0px;
}
.Home_container {
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 108px;
  background: #F9F6F5; 
} 
.Home_content {
  /*display: flex;
  flex: 0 1 content;*/
  margin-bottom: 20px;
}
.Home_blok-text {
  position: relative;
  z-index: 2;
}
.blok-text {
  font-style: normal;
  text-align: left;
  vertical-align: top;
}
.blok-text_title {
  font-weight: 500;
  font-size: 56px;
  line-height: 125%;
  color: #000000;
}
.blok-text_title_Cosmetic_products{
  max-width: 621px;
  margin-bottom:30px;
}
.blok-text_text_Cosmetic_products{
  max-width: 516px;
  margin-bottom:30px;
}
.blok-text_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #555555;
}
.search{
  border: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  margin-bottom: 60px;  
}
.search_input{
  width: 326px;
  height: 48px;
  border: none;
  outline: none;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999999; 
  padding-left: 16px;
}
.search_button {
  border: none;
  background: #402F2C;
  width: 32px;
  height: 32px;
  margin-right: 8px; 
}
.search_button::before {
  content: "\f002";
  font-family: FontAwesome;
  color: #FFFFFF;
  width: 16px;
  height: 16px;
}
.blok-text_button_ShopNow {
  background: #402F2C;
  color: #FFFFFF;
}
.button {
}
.button_ShopNow_input{
  display: inline-block;
  font-family: 'Red Hat Display';
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%; /*межстрочный интервал расчет в % 24px/18*/
  letter-spacing: 0.5px;
  
  padding: 16px 32px;
  
  transition: background-color 0.5s ease 0s; /*определение скорости(плавности) изменения цвета кнопки*/
}
/*кнопка меняет цвет при наведении*/
.button_ShopNow_input:hover{
  background-color: #8bcfd1;
}
.Home_image {
}
.Home_image img {
  position: absolute;
  width: 796px;
  height: 609px;
  top:0;
  right: 0;
  margin: 68px 0px 0px 0px;
}
.arrow {
  /*display:flex;
  flex: 1 1 100%;*/
  justify-content:center;
  align-items:center;
  font-size: 40px;
  padding-bottom: 57px;
  text-align: center; 
  position: relative;
  z-index: 3;
}
.arrow_prev {
  content: "\f104";
  margin-right: 17px; 
}
.arrow_next {
  content: "\f105";
}
/*=============================================================================*/
.Logo_container{
  padding: 130px 134px;
}
hr{
  border-bottom: 1px solid #EEEEEE;  
}
.top_line{
  margin: 0px 0px 42.5px 0px;
  height: 0px;
}
.bottom_line{
  margin: 42.5px 0px 0px 0px;
  height: 0px;
}
.Logo_img{
  height: 28px;
}
.Logo_img img{
  margin: 0px 120px 0px 0px;
  float:left; /*расстояние между картинками ними появляется потому что это строчные элементы. 
  Для них всегда автоматически ставится небольшой отступ слева и справа.*/
}
.Logo_img img:last-child{
  margin-right: 0px;
}

/*============Our Porular Product==========================================================*/
.BuyNow_container {
  margin-bottom: 60px;
}
.BuyNow_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.BuyNow_blok-text {
  max-width: 714px;
}
.blok-text {
}
.blok-text_title {
}
.blok-text_text {
}
.BuyNow_link{
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  text-decoration-line: underline;
  color: #222222;
}
.blok-text_title_BuyNow{
  max-width: 347px;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  margin: 0;
}
.blok-text_text_BuyNow_ToCart{
  max-width: 516px;
}

.BuyNow_ToCart_container{
display: flex;
justify-content: space-between;

  
}
.BuyNow_Cosmetic_products_blok1{
  margin-right: 40px;  
  border: 1px solid rgba(104, 90, 82, 0.19);
}
.BuyNow_Cosmetic_products_blok2{
  border: 1px solid rgba(104, 90, 82, 0.19);
}
.BuyNow_ToCart_blok-text{
padding-left: 32px;
}
.BuyNow_img img{
  
}

.BuyNow_ToCart{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 48px 32px 32px 32px;
  
}
.button_BuyNow_ToCart{
 
}
.text__BuyNow_ToCart{
  font-weight: 500;
  font-size: 30px;
  line-height: 107px;
  text-align: right;
  color: #222222;
}

/*=========experts===================================================================*/
.experts {
  
}
.experts_container {
  padding: 130px 0px 130px 0px;
}
.experts_statistics {
 
}
.statistics-experts {
  margin: 0 auto;
  background-color: #FDF8F5;
}
.statistics-experts_body {
}
.body-statistics-experts {
  padding: 58px 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; 
}
.body-statistics-experts_item {
}
.body-statistics-experts_value {
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  color: #222222;
  border-bottom: 3px solid #222222;
}
.body-statistics-experts_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #555555;
  padding-top: 30px;
}
.statistics-experts_decor {
}
.statistics-experts_decor_1 {
}
/*=========experts_body===============================================*/
.experts_body_container{
  
}
.experts_body {
  display: flex;
  align-items: center;
  
}
.experts_content {
  flex: 0 1 52%;   
}
.experts_block-text {
    
}
.block-text {
  
}
.experts_blok-text_title{
  max-width: 520px;
  margin-bottom: 20px;
}
.blok-text_title {
}
.blok-text_text {
}
.experts_blok-text_text{
  max-width: 608px;
  margin-bottom: 50px;
 
}
.blok-text_button_ToCart{
  color: #402F2C;
  border: 1px solid rgba(104, 90, 82, 0.46);
}
.button_ShopNow_input {
}
.button {
}
.experts_img img{
  flex: 0 1 48%;
}