
section#Rectangle4
{
position: absolute;
width: 1440px;
height: 747px;
left: 0px;
top: 0px;
background: #F9F6F5;
}

nav{
position: absolute;
width: 1240px;
height: 30px;
left: 100px;
top: 40px;
}

nav ul li{
    list-style-type: none;
    display: inline; 
    font-family: Red Hat display; 
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    position: absolute;
}

nav ul li.Dudeshape{

font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #222222;
text-decoration-line: underline;
width: 128px;
height: 30px;
left: 100px;
top: 40px;
}

nav ul li.selected{
    width: 44px;
    height: 20px;
    left: 532px;
    top: 45px;

}

nav ul li.Products{
    width: 65px;
    height: 20px;
    left: 616px;
    top: 45px;
}

nav ul li.AboutUs{
    width: 67px;
    height: 20px;
    left: 721px;
    top: 45px;
}

nav ul li.Contact{
    width: 80px;
    height: 20px;
    left: 828px;
    top: 45px;
}
nav ul li.profile{
    left: 1220px;
    top: 43px;
    width: 24px;
    height: 24px;
}


nav ul li.Buy{
    left: 1268px;
    top: 45px;
    width: 24px;
    height: 24px;
}
nav ul li.frame{
    left: 1316px;
    top: 43px;
    width: 24px;
    height: 24px; 
}
section#Rectangle4 h1#Home{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
    position: absolute;
    width: 621px;
    height: 140px;
    left: 100px;
    top: 178px;
    
}
    
section#Rectangle4 p{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    top: 348px; 
    left: 100px;
    color: #555555;
    position: absolute;
    width: 516px;
    height: 96px;
    }
    
    input.search{
    position: absolute;
    width: 326px;
    height: 48px;
    margin-left: 100px;
    margin-top: 474px;
    background: #FFFFFF;
    border: none;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999; 
    text-align:left;
    vertical-align: Top;
    padding-left: 16px;
    }
   
     button {
        height: 32px;
        width: 32px;
        position: absolute;
        top: 482px;
        left: 386px;
        background: #402F2C;
        cursor: pointer;
        border: none; 
      }
     button:before {
        content: "\f002";
        font-family: FontAwesome;
        color: #FFFFFF;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 8px;
        right: 8px;
        top: 8px;
        bottom: 8px;
      }
      input.ShopNow{
        position: absolute;
        width: 148px;
        height: 56px;
        margin-left: 100px;
        margin-top: 582px;
        background: #402F2C;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 16px 32px 16px 32px;
      }

      div.img{
        position: absolute;
        width: 796px;
        height: 609px;
        left: 644px;
        top: 138px;
      }

      div.nav-prev,.nav-next{
    box-sizing: border-box;
    position: absolute;
    width: 145px;
    height: 138px;
    left: 643px;
    top: 609px;
    background: #F9F6F5;
      }

      div.nav-prev{
        content: "\f104";
        position: absolute;
        width: 23.33px;
        height:11.67px;
        left: 681.17px;
        top: 666.33px;
        
          }
      
      div.nav-next{
        content: "\f105";
        position: absolute;
        width: 40px;
        height: 40px;
        left: 737.17px;
        top: 666.33px;
          }